.homepage{
    background-color: #FFF5E1;   
    padding-bottom: 80px;
}
.lead{
    color: #142e8b;
    font-weight: 500;
    font-size: xx-large;
    font-style: italic;
}
.navbar{
    background-color: #0C1844;
}

.fonts {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.heading{
    color: #C80036;
    font-weight: bolder;
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
.skills{
    background-color: #ff6969b8;
}
.frameworks{
    font-size: larger;
    font-weight: bold;
    color: #0C1844;
}

.about img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    
}
.about{
    background-color: #ff696975;
}
.about-part{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about h1{
    color: #c80035eb;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: 800;
    font-size: 3rem;
}
.about p{
    color: #041862;
    font-style: italic;
    font-weight: 400;
}
.projects{
    background-color: #C80036;
    padding: 60px;
}
.projects .container {
    padding: 25px;
}
.projects .btn{
    background-color: #041862;
    color: #FFF5E1;
}
.skills{
    background-color: #FFF5E1;
    padding: 60px;
}
.contact{
    background-color: #0C1844;
}


